@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&family=Montserrat:ital,wght@1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  border: none;
}

/* Start of header section */
header {
  background-color: #3d3d3d;
  background-image: url('../images/home.jpg');
  height: 800px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.logo img {
  height: 90px;
  padding: 10px;
  float: left;
  position: absolute;
  margin-top: 10px;
  margin-left: 10px;
}

#menu {
  letter-spacing: 1px;
  list-style-type: none;
  font-size: 100%;
}

nav ul {
  text-align: center;
  margin-left: -10px;
}

nav li {
  display: inline-block;
  font-family: Merriweather, Arial, sans-serif;
  margin-top: 30px;
  padding-left: 30px;
}

a {
  text-decoration: none;
  color: #FFF;
}

a:hover {
  color: #ff7803;
}

h1 {
  font-family: 'Montserrat', Merriweather, Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #FFF;
  text-decoration: none;
  font-style: italic;
  font-weight:900;
}

#text-logo {
  font-size: 350%;
  text-align: center;
  margin-top: 600px;
}

/* Start of tour section */
#tour-page {
  background-color: #3d3d3d;
  background-image: url('../images/tour.jpg');
  height: 800px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h2 {
  font-family: Merriweather, Arial, sans-serif;
  border-bottom: 3px solid #FFF;
  letter-spacing: 1px;
  font-size: 3vw;
  text-transform: uppercase;
  color: #fff;
}

.flex-container {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  margin: auto;
  flex-wrap: wrap;
  width: 100%;
}

.tour-container {
  padding-top: 10vw;
  margin: auto;
  width: 90%;
  text-align: center;
  
}

.dates {
  padding-top: 15px;
}

th {
  text-align: left;
  font-size: 3vw;
  text-decoration: none;
  min-width: 150px;
}

td {
  text-align: left;
  font-size: 1.5vw;
}

th,
td {
  font-family: Merriweather, Arial, sans-serif;
  text-transform: uppercase;
  color: #fff;
}

.padding-left {
  padding-left: 65px;
}

#venue {
  font-style: italic;
  margin-top: 35px;
  border-top: 1px solid black;
}

.button {
  width: 400px;
  height: 100px;
  padding: 10px;
  text-align: center;
  margin: auto;
  padding-top: 4%;
}

.button-container {
  margin: auto;
  width: 100%;
}

h3 {
  text-align: center;
  font-size: 1.5vw;
  border-bottom: 2px solid #FFF;
  border-top: 2px solid #FFF;
  letter-spacing: 1px;
  font-family: Merriweather, Arial, sans-serif;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 2px;
}

/* Start of merch section */
#merch-page {
  background-color: #3d3d3d;
  background-image: url('../images/merch.jpg');
  height: 800px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  overflow-y: auto;
}

.merch-container {
  padding-top: 10vw;
  margin: auto;
  width: 90%;
  text-align: center;
}

.flex-container img {
  width: 100%;
  height: auto;
  display: inline-block;
  padding-top: 20px;
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
}

.container {
  position: relative;
  width: 20%;
  height: auto;
}

/* Code from w3scools https://www.w3schools.com/howto/howto_css_image_overlay.asp */
.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.5;
}

.container:hover .middle {
  opacity: 1;
}
/* End of code from w3scools */

.merch-text {
  background-color: #000;
  text-align: center;
  color: #fff;
  font-size: 16px;
  padding: 15px;
  font-family: Merriweather, Arial, sans-serif;
  text-transform: uppercase;
}

/* Start of about section */
#about-page {
  background-color: #3d3d3d;
  background-image: url('../images/about.jpg');
  height: 800px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about-container {
  padding-top: 80px;
  margin: auto;
  width: 90%;
}

.text-box {
  background-color: rgb(0, 0, 0, 0.6);
  width: 80%;
  height: auto;
}

h4 {
  font-family: Montserrat, Merriweather,Arial, sans-serif;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  letter-spacing: 1px;
  padding-top: 10%;
  font-size: 40px;
  padding-bottom: 0px;
}

p {
  font-family: Merriweather, Arial, sans-serif;
  font-size: 20px;
  color: #FFF;
  text-decoration: none;
  padding: 80px;
  width: 60%;
  margin: auto;
  text-align: center;
}

/* Start of connect section */
#connect-page {
  background-color: #3d3d3d;
  background-image: url('../images/contact.jpg');
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.connect-container {
  padding-top: 150px;
  margin: auto;
  width: 70%;
}

.newsletter-box {
  float: left;
  position: absolute;
  background-color: #000;
  width: 520px;
  height: 600px;
  text-align: center;
}

#connect-page h2 {
  border-bottom: none;
  font-size: 35px;
}

input[type=email] {
  border-color: #FFF;
  text-decoration: none;
  font-family: Merriweather, Arial, sans-serif;
  letter-spacing: 1px;
  border-style: dotted;
  color:#FFF;
  width: 300px;
  padding: 15px;
  background-color: #000;
  text-align: center;
  font-size: 15px;
  margin-top: 30px;
}

input::placeholder{
  color: #FFF;
}

input[type=submit] {
  margin-top: 20px;
  padding: 0.75rem;
  background-color: #FFF;
  color:#000;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: Merriweather, Arial, sans-serif;
  letter-spacing: 1px;
  width: 300px;
  font-size: 20px;
}

input[type=submit]:hover {
  background-color: #ff7803;
}

/* Start of footer */
footer {
  background-color: #000;
  height: auto;
}

.footer-container {
  padding-top: 1vw;
  margin: auto;
  width: 90%;
}

.social-media-links {
  padding-top: 50px;
  border: 30px;
  text-align: center;
}

.social-media-links>li {
  display: inline;
  font-size: 40px;
  text-decoration: none;
  padding: 10px;
}

.footer-middle {
  width: 100%;
  text-align: center;
}

#footer-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

#copyright {
  margin-bottom: 10px;
  margin-top: 0;
  border: 0;
  letter-spacing: 1px;
  text-align: center;
  padding: 0;
  text-transform: uppercase;
  font-size: 10px;
}

/* Start of confirmation html styling */
.newsletter {
  background-color: #3d3d3d;
  background-repeat: repeat;
  background-size: cover;
}
.text-container {
  padding:10px;
  margin-top: 20%;
  width: 450px;
  text-align: center;
  border:10px solid #FFF;
}

.button > a{
  text-align: center;
  font-size: 15px;
  border-bottom: 2px solid #FFF;
  border-top: 2px solid #FFF;
  font-family: Merriweather, Arial, sans-serif;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 2px;
}
.return:hover {
  color: #ff7803;
}

/* Media with a screen of max-width 1124px */
@media only screen and (max-width: 1124px) {
  header {
    height: 700px;
    max-width: 1124px;
  }

  #text-logo {
    font-size: 350%;
    text-align: center;
    margin-top: 500px;
  }

  #tour-page {
    height: 700px;
    max-width: 1124px;
  }

  h2 {
    font-size: 4vw;
  }

  .tour-container {
    padding-top: 20vw;
    margin: auto;
    width: 90%;
  }

  .dates {
    padding-top: 15px;
  }

  th {
    text-align: left;
    font-size: 4vw;
    text-decoration: none;
    min-width: 90px;
  }

  td {
    text-align: left;
    font-size: 2.5vw;
  }

  th,
  td {
    font-family: Merriweather, Arial, sans-serif;
    text-transform: uppercase;
    color: #fff;
  }

  .padding-left {
    padding-left: 65px;
  }

  #venue {
    font-style: italic;
    margin-top: 35px;
    border-top: 1px solid black;
  }

 

  .button-container {
    margin: auto;
    width: 100%;
  }

  h3 {
    font-size: 2.5vw;
    letter-spacing: 2px;
  }

  #merch-page {
    height: 1000px;

  }
  .container {
    position: relative;
    width: 30%;
    padding: 2px 20px;
    height: auto;
  }

  .merch-text {
    font-size: 15px;
  }


  #about-page {
    height: 700px;
    max-width: 1124px;
  }

  p {
    font-size: 1.7vw;
  }

  #footer-logo {
    width: 30%;
  }
}

/* Media with a screen of max-width 800px */
@media only screen and (max-width: 800px) {
  header {
    height: 481px;
    max-width: 800px;
  }

  .logo img {
    display: none;
  }

  #text-logo {
    font-size: 250%;
    text-align: center;
    margin-top: 320px;
  }

  #tour-page {
    height: 481px;
    max-width: 800px;
  }

  h2 {
    font-size: 4vw;
  }

  .tour-container {
    padding-top: 15vw;
    margin: auto;
    width: 90%;
    text-align: center;
  }

  .dates {
    padding-top: 15px;
  }

  th {
    text-align: left;
    font-size: 4vw;
    text-decoration: none;
    min-width: 90px;
  }

  td {
    text-align: left;
    font-size: 2.5vw;
  }

  th,
  td {
    font-family: Merriweather, Arial, sans-serif;
    text-transform: uppercase;
    color: #fff;
  }

  .padding-left {
    padding-left: 35px;
  }

  #venue {
    font-style: italic;
    margin-top: 35px;
    border-top: 1px solid black;
  }

  .button {
    padding-top: 5%;
  }

  .button-container {
    margin: auto;
    width: 100%;
  }

  h3 {
    font-size: 2.5vw;
    letter-spacing: 2px;
  }


  #merch-page {
    height: 668px;
    max-width: 800px;

  }

  .merch-container {
    padding-top: 10vw;
    margin: auto;
    width: 90%;
    text-align: center;
  }

  .flex-container {
    justify-content: space-around;
    justify-content: center;
    margin: auto;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    display: flex;
  }


  .container {
    position: relative;
    width: 30%;
    padding: 2px 30px;
    height: auto;
  }

  .merch-text {
    font-size: 10px;
  }


  #about-page {
    height: 668px;
    max-width: 800px;
  }

  .about-container {
    padding-top: 0px;
    margin: auto;
    width: 100%;
    height: 600px;
  }

  .text-box {
    width: 90%;
    height: 600px;
  }

  p {
    font-size: 15px;
  }

  #connect-page {
    background-image: url('../images/contact.jpg');
    height: 481px;
    max-width: 800px;
  }

  .connect-container {
    padding-top: 15vw;
    margin: auto;
    width: 90%;
  }

  .newsletter-box {
    float: left;
    position: absolute;
    background-color: black;
    width: 400px;
    height: 481px;
    text-align: center;
  }

  #connect-page h2 {
    border-bottom: none;
    font-size: 25px;
  }


  footer {
    background-color: black;
    height: 400px;
    max-width: 800px;
  }

  #footer-logo {
    width: 30%;
  }
}

/* Media with a screen of max-width 500px */
@media only screen and (max-width: 500px) {
  header {
    height: 630px;
    background-image: url('../images/home_500px.jpg');
    max-width: 500px;
  }

  .logo img {
    display: none;
  }

  #menu {
    letter-spacing: 1px;
    list-style-type: none;
    font-size: 70%;
  }

  nav li {
    margin-top: 30px;
    padding-left: 10px;
  }

  #text-logo {
    font-size: 170%;
    text-align: center;
    margin-top: 500px;
  }


  #tour-page {
    height: 400px;
    max-width: 500px;
    background-color: #000;
    background-image: none;
  }

  h2 {
    font-size: 25px;
    letter-spacing: 1px;
    text-align: center;
  }

  .tour-container {
    padding-top: 15vw;
    margin: auto;
    width: 90%;
    text-align: center;
  }

  .dates {
    padding-top: 15px;
    width: 100%;
  }

  table {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  tbody {
    display: flex;
    flex-direction: row;
    margin-left: 60px;
  }

  tr {
    display: flex;
    flex-direction: column;
    padding-top: 10%;
  }

  .padding-left {
    padding-left: 0px;
    margin-top: 10px;
  }

  th {
    padding-left: 0px;
    text-align: left;
    font-size: 18px;
    text-decoration: none;
    width: 10px;
    margin-left: -120px;
  }

  #venue {
    margin: 0;
    padding: 0;
    width: 10px;
  }

  #city {
    margin-left:-10px;
    padding: 0;
  }

  #city>td {
    text-align: left;
    padding-left: 0px;
    margin-top: 40px;
    font-size: 8px;
  }

  #venue>td {
    text-align: left;
    padding-left: 10px;
    margin-top: 39.5px;
    font-size: 8px;
    width: 80px;
  }

  .button {
    padding: 15px 0 0 0;
    width: 100%;
    margin: 0;
  }

  .button-container {
    margin: auto;
    width: 100%;
  }

  h3 {
    font-size: 15px;
    letter-spacing: 2px;
    width: 100%;
  }


  #merch-page {
    height: 1200px;
    max-width: 500px;
    background-color: #000;
    background-image: none;
  }

  .merch-container {
    padding-top: 15vw;
    margin: auto;
    width: 80%;
  }

  .flex-container {
    justify-content: space-around;
    justify-content: center;
    margin: auto;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    display: flex;
  }

  .container {
    position: relative;
    width: 90%;
    padding: 1px 10px;
    height: auto;
  }

  .merch-text {
    font-size: 10px;
  }


  #about-page {
    height: 700px;
    max-width: 500px;
    background-color: #000;
    background-image: none;
  }

  .about-container {
    padding-top: 0px;
    margin: auto;
    width: 100%;
    height: 700px;
  }

  .text-box {
    width: 100%;
    height: 700px;
  }

  h4{
    padding:10px;
  }

  p {
    font-size: 15px;
    padding: 10px 0 0 0;
    margin: auto;
    text-align: left;
  }


  #connect-page {
    background-image: url('../images/contact_500px.jpg');
    height: 700px;
    max-width: 500px;
  }

  .connect-container {
    margin: auto;
    width: 90%;
  }

  .newsletter-box {
    background-color: transparent;
    width: 100%;
    height: auto;
  }

  #connect-page h2 {
    border-bottom: none;
    font-size: 25px;
    padding-top: 370px;
    padding-bottom: 30px;
  }

  #email-field {
    margin: 0;
    width: 70%;
  }

  #sign-up {
    margin-top: 10px;
    width: 60%;
  }

  .social-media-links>li {
    font-size: 25px;
    padding: 2px;
  }

  footer {
    height: 300px;
    width: auto;
  }

  #footer-logo {
    width: 35%;
  }
  #copyright {
    margin-bottom:10px;
    text-align: center;
    margin-top: 20px;
    font-size: 8px;
  }
}