@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&family=Montserrat:ital,wght@1,900&display=swap');
* {
    margin:0;
    padding: 0;
    border: none;
}

header {
    background-color: #3d3d3d;
    background-image: url('../images/home.jpg');
    height:800px;
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
}

.logo img{
    height: 90px;
    padding: 10px;
    float:left;
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
  }

#menu{
    letter-spacing: 1px;
    list-style-type: none;
    font-size: 100%;
}

nav ul{
    text-align: center;
    margin-left:-50px;
}

nav li{
    display: inline-block;
    font-family: Merriweather, Arial, sans-serif;
    margin-top: 30px;
    padding-left:30px;
}

a{
    text-decoration: none;
    color:#FFF;
}

a:hover{
    color:#ff7803;
}

h1{
    font-family: Montserrat;
    text-transform: uppercase;
    letter-spacing: 1px;
    color:#FFF;
    text-decoration: none;
}

#text-logo{
    font-size: 350%;
    text-align: center;
    margin-top: 600px;
}
